* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s;
    transition: all .3s;
}

body {
    display: block;
    margin: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 100px 0;
    background: #c1bdba;
}

body.scrolled {
    padding-top: 50px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 100px;
    padding: 0 20px;
    padding-bottom: 20px;
    background: rgba(19, 35, 47, 0.9);
    color: white;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

body.scrolled header {
    padding-bottom: 20px;
    height: 100px;
}

header h1 {
    font-size: 24px;
    margin: 0 16px;
}

header span {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

header i {
    cursor: pointer;
}

.actions i {
    margin-left: 10px;
}

.actions a {
    text-decoration: none;
    color: #fff;
}

#main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px 0 0 70px;
}

.thumbnail {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 100px 20px 0;
}

.thumbnail i {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100px;
    width: 100px;
    font-size: 100px;
    color: #263238;
    cursor: pointer;
}

.thumbnail i span {
    position: relative;
    top: 2px;
    font-size: 18px;
    color: white;
    padding: 7px 30px;
    background: #212121;
    border-radius: 3px;
    opacity: 0;
    -webkit-transition: opacity .2s, top .3s;
    transition: opacity .2s, top .3s;
}

.thumbnail h1 {
    position: relative;
    top: -7px;
    font-size: 20px;
}

.thumbnail input {
    border: none;
    font-size: 20px;
}

.thumbnail:hover h1 {
    opacity: 0;
}

.new-folder:hover i {
    color: #607D8B;
}

.thumbnail:hover span {
    top: 0;
    opacity: 1;
}



/*LUCAS WILKER*/

#mask {
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    opacity: 0.5;
    display:none;
    background: #000000;
}

#boxes .window {
    border-radius: 10px;
    position:absolute;
    left:0;
    top:0;
    display:none;
    z-index:9999;
    padding:20px;
    height: 120px;
}

#boxes #dialog {
    width:200px;
    height:120px;
    padding:0;
    background-color:#ffffff;
}

#boxes h3{
    height: 33px;
    color: white;
    margin: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    background: -moz-linear-gradient(top, #2e5764, #1e3d47);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #1e3d47),color-stop(1, #2e5764));
}

#boxes p{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#input{
    border-radius: 3px;
    width: 144px;
}

#buttom{
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    margin-top: 18px;
    margin-left: 38%;
}

#boxes #dialog1 {
    width:375px;
    height:203px;
}

.close{
    position: absolute;
    width: 20px;
    right: -7px;
    top: -13px;
    text-align: center;
    line-height: 20px;
    margin-top: 3px;
    background: #ffffff;
    border-radius: 50%;
    font-size: 16px;
    color: #000000;
}

/*BOXES 2*/

#mask2 {
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    opacity: 0.5;
    display:none;
    background: #000000;
}

#boxes2 .window2 {
    border-radius: 10px;
    position:absolute;
    left:0;
    top:0;
    display:none;
    z-index:9999;
    padding:20px;
    height: 120px;
}

#boxes2 #dialog2 {
    width:200px;
    height:120px;
    padding:0;
    background-color:#ffffff;
}

#boxes2 h3{
    height: 33px;
    color: white;
    margin: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    background: -moz-linear-gradient(top, #2e5764, #1e3d47);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #1e3d47),color-stop(1, #2e5764));
}

#boxes2 p{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#input2{
    border-radius: 3px;
    width: 144px;
}

#buttom2{
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    margin-top: 18px;
    margin-left: 38%;
}

#boxes2 #dialog1 {
    width:375px;
    height:203px;
}

.close2{
    position: absolute;
    width: 20px;
    right: -7px;
    top: -13px;
    text-align: center;
    line-height: 20px;
    margin-top: 3px;
    background: #ffffff;
    border-radius: 50%;
    font-size: 16px;
    color: #000000;
}


/*SHARE*/

#share p{
    margin: 8px;
}

#share #dialog3 {
    vertical-align: middle;
    width:270px;
    height:200px;
    padding:0;
    background-color:#ffffff;
}

#share h3{
    height: 33px;
    color: white;
    margin: 0px;
    padding-top: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    background: -moz-linear-gradient(top, #2e5764, #1e3d47);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #1e3d47),color-stop(1, #2e5764));
}

#share .window3 {
    border-radius: 10px;
    position:absolute;
    left:0;
    top:0;
    display:none;
    z-index:9999;
    padding:20px;
    height: 120px;
}


#mask3 {
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    opacity: 0.5;
    display:none;
    background: #000000;
}


#share .window3 {
    border-radius: 10px;
    position:absolute;
    left:0;
    top:0;
    display:none;
    z-index:9999;
    padding:20px;
    height: 120px;
}


.close3{
    position: absolute;
    width: 20px;
    right: -7px;
    top: -13px;
    text-align: center;
    line-height: 20px;
    margin-top: 3px;
    background: #ffffff;
    border-radius: 50%;
    font-size: 16px;
    color: #000000;
}