@(usuario: Usuario, diretorio: Diretorio)

@main("SIBox"){
    <head xmlns="http://www.w3.org/1999/html">
        <meta charset="UTF-8">
        <title>SIBox - home</title>

        <link href="@routes.Assets.at("stylesheets/pastas.css")" rel="stylesheet">
        <link href='@routes.Assets.at("stylesheets/fonte-login.css")' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/normalize-home.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/home.css")">
    </head>

    <body>
        <header>
            <script src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
            <script src="@routes.Assets.at("javascripts/home.js")"></script>

            <a href="@routes.HomeController.chamarHome()"><i style="font-size: 60px" class="material-icons">face</i></a> <h1>Bem vindo @usuario.getNome, <br> Essa é a sua Home</h1>
            <span></span>
            <div class="actions">
                <a href="@routes.HomeController.chamarCaixa()"><i style=" margin-right: 8px" class="material-icons" title="notificações">notifications</i></a>
                <a id="boxes"><i style="margin-bottom: 8px" class="material-icons" title="nova pasta">create_new_folder</i></a>
                <a id="share"><i style="margin-bottom: 8px" class="material-icons" title="compartilhar">link</i></a>
		<a id="compress"><i style="margin-bottom: 8px" class="material-icons">archive</i></a>
                <a href="/chamaTexto/@diretorio.getCaminho"><i style="margin-right: 8px" class="material-icons" title="criar arquivo">note_add</i> </a>
                <a href="@routes.HomeController.chamarLixeira()"><i style="margin-right: 8px " class="material-icons" title="ir pra lixeira">delete</i></a>
                <i style="margin-right: 15px"></i>
                <span>@session().get("login")</span>
                <i style="margin-right: 15px"></i>
                <a href="@routes.HomeController.logOut()"><i class="material-icons" title="sair da conta">power_settings_new</i></a>

            </div>
        </header>

        <main id="main">

            @for(subDiretorio <- diretorio.getSubDiretorios()) {
                <div class="thumbnail">
                    <a href="/abrePasta/@subDiretorio.caminho"><i class="material-icons">folder
                        <span>
                            <div> @diretorio.getSubDiretorios.size() Pastas / @diretorio.getArquivos.size() Arquivos</div>
                            <br>
                            <br>
                            <div>
                                <button type="button" class="botaoED">Editar Nome</button>
                            </div>
                        </span>
                        <a href="@routes.HomeController.abrePasta(diretorio.getCaminho)"></a>
                    </i></a>
                    <h1 id="dir-@diretorio.getNome">@subDiretorio.getNome</h1>
                </div>
            }



            @if(!diretorio.getNome.equals("root")){
                <div class="thumbnail">
                    <a href="/abrePasta/@diretorio.getRaiz"><i class="material-icons" title="voltar">keyboard_backspace</i></a>
                </div>
                <div class="thumbnail">
                    <a href="@routes.HomeController.moveDiretorioParaLixeira(diretorio.caminho)">
                        <br>
                        <i class="material-icons" title="enviar para lixeira">delete_sweep</i></a>
                </div>
            }


            @for(arquivo <- usuario.getCompartilhados.getArquivos) {
                <div class="thumbnail">
                    @if(arquivo.getExtensao == ".zip" || arquivo.getExtensao == ".gz") {
                        <i class="material-icons">archive</i>
                        @if(arquivo.getCompartilhadosEdicao.contains(usuario.getEmail) || arquivo.getCompartilhadosLeitura.contains(usuario.getEmail)) {
                            @arquivo.getNomeArquivo@arquivo.getExtensao
                        }
                    } else{
                        <i class="material-icons">description
                            @*<span>@pasta.getArquivos.size() folders / @pasta.getA.size() files</span>*@
                        </i>
                        @if(arquivo.getCompartilhadosEdicao.contains(usuario.getEmail)) {
                            <a href="/abreArquivo/@arquivo.getNomeArquivo">@arquivo.getNomeArquivo</a>
                        }
                        @if(arquivo.getCompartilhadosLeitura.contains(usuario.getEmail)) {
                            <a href="/leituraArquivo/@arquivo.getNomeArquivo">@arquivo.getNomeArquivo</a>
                        }
                    }
                </div>
            }
            @for(arquivo <- diretorio.getArquivos) {
                <div class="thumbnail">
                    <i class="material-icons">description
                        @*<span>@pasta.getArquivos.size() folders / @pasta.getA.size() files</span>*@
                    </i>
                    <a href="@routes.HomeController.abreArquivo(arquivo.getNomeArquivo, diretorio.getCaminho)">@arquivo.getNomeArquivo</a>
                </div>
            }
            @for(arquivo <- usuario.getComprimidos.getArquivos) {
                <div class="thumbnail">
                   <!-- <i class="material-icons">work</i> !-->
                    <i class="material-icons">archive</i>
                    @arquivo.getNomeArquivo@arquivo.getExtensao
                </div>
            }
        </main>

 
        <div id="boxes">
            <form id="dialog" class="window" action="/criaPasta/@diretorio.caminho">
                <a href="#" class="close2">x</a>
                <h3>Nova Pasta</h3>
                <p>
                    Nome: <input id="input" name="nome" type="text" required autocomplete="off"/><br>
                    <input id="buttom" type="submit" value="Criar">
                </p>
            </form>
                <!-- Máscara para cobrir a tela -->
            <div id="mask"></div>
        </div><!-- /boxes -->

        @*modal para renomear as pastas.*@
        <div id="boxes2">
            <form id="dialog2" class="window2" action="@routes.HomeController.editaNomePasta()">
                <a href="#" class="close2">x</a>
                <div><h3>Renomear</h3></div>
                <p>
                    Nome: <input id="input2" name="nome" type="text" required autocomplete="off"/><br>
                    <input id="antigoNomePasta" name="antigoNomePasta" type="text" style="display: none">
                    <input id="buttom2" type="submit" value="OK">
                </p>
            </form>
                <!-- Máscara para cobrir a tela -->
            <div id="mask2"></div>
        </div>




        <div id="share">
            <form id="dialog3" class="window3" action="@routes.HomeController.compartilha()">
                <a href="#" class="close3">x</a>
                <h3>Compartilhar</h3>
                <p>
                    Arquivo: <input id="input" name="nomeArquivo" type="text" required autocomplete="off"/><br/>
                    E-mail:   <input id="input" name="emailUsuario" type="text" required autocomplete="off"/><br/>

                        <input id="radio" type="radio" name="tipo" value="edicao" required/>Edição

                        <input id="radio" type="radio" name="tipo" value="leitura" required/>Leitura

                    <input id="button" type="submit" value="Compartilhar"/>
                </p>
            </form>
                <!-- Máscara para cobrir a tela -->
            <div id="mask3"> </div>
        </div>


        <div id="compress">
            <form id="dialogCompress" class="windowCompress" action="@routes.HomeController.comprime()">
                <a href="#" class="closeCompress"> x</a>
                <h3>Comprimir</h3>
                <p>
                    Objeto: <input id="input" name="nomeObjeto" type="text" required autocomplete="off"/><br/>

                        <br>
                        <input id="radio" type="radio" name="tipo" value="zip" required/>zip

                        <input id="radio" type="radio" name="tipo" value="gzip" required/>gzip


                    <input id="button" type="submit" value="Comprimir"/>
                </p>
            </form>
                <!-- Máscara para cobrir a tela -->
            <div id="maskCompress"> </div>
        </div>
    </body>
}