@(usuario: Usuario)

@main("SIBox"){
    <head>
        <meta charset="UTF-8">
        <title>SIBox - home</title>

        <link href="@routes.Assets.at("stylesheets/pastas.css")" rel="stylesheet">
        <link href='@routes.Assets.at("stylesheets/fonte-login.css")' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/normalize-home.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/home.css")">
    </head>

    <body>
        <header>
            <script src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
            <script src="@routes.Assets.at("javascripts/home.js")"></script>

            <i style="font-size: 60px" class="material-icons">face</i><h1>@usuario.getNome, <br> Essa é a sua Home</h1>
            <span></span>
            <div class="actions">
                    <!-- Aqui, para criar uma nova pasta ou um novo arquivo, basta colocar como eu fiz no ultimo:
                    <a href=" routes.HomeController.metodoquefazaatividade()"> !-->
                <a href="@routes.HomeController.chamarCaixa()"><i style="margin-right: 8px" class="material-icons">notifications</i></a>
                <a id="boxes"><i style="margin-bottom: 8px" class="material-icons">create_new_folder</i></a>




                <a id="share"><i style="margin-bottom: 8px" class="material-icons">link</i></a>



                <a href="@routes.HomeController.chamaTexto()"><i style="margin-right: 8px" class="material-icons">note_add</i> </a>

                <i style="margin-right: 15px"></i>
                <span>@session().get("login")</span>
                <i style="margin-right: 15px"></i>
                <a href="@routes.HomeController.logOut()"><i class="material-icons">power_settings_new</i></a>

            </div>
        </header>

        <main id="main">
            @for(diretorio <- usuario.getPastaPessoal.getSubDiretorios) {
                <div class="thumbnail">
                    <i class="material-icons">folder
                        <span><a href="#">botao editar</a> / @diretorio.getArquivos.size() folders / @diretorio.getSubDiretorios.size() files</span>
                    </i>
                    <h1>@diretorio.getNome</h1>
                </div>
            }

            @for(arquivo <- usuario.getPastaPessoal.getArquivos) {
                <div class="thumbnail">
                    <i class="material-icons">description
                        @*<span>@pasta.getArquivos.size() folders / @pasta.getA.size() files</span>*@
                    </i>
                    <a href="/abreArquivo/@arquivo.getNomeArquivo">@arquivo.getNomeArquivo</a>
                </div>
            }
        </main>

        <div id="boxes">
            <form id="dialog" class="window" action="@routes.HomeController.criaPasta()">
                @*<a href="#" class="close"> Fechar [X]</a>*@
                <h3>Nova Pasta</h3>
                <p>
                    Nome: <input id="input" name="nome" type="text" required autocomplete="off"/><br>
                    <input id="buttom" type="submit" value="Criar">
                </p>
            </form>
                <!-- Máscara para cobrir a tela -->
            <div id="mask"></div>
        </div><!-- /boxes -->

        <div id="share">
            <form id="dialog2" class="window2" action="@routes.HomeController.compartilha()">
                <h3>Compartilhar</h3>
                <p>
                    Arquivo: <input id="input" name="nomeArquivo" type="text" required autocomplete="off"/><br>
                    E-mail: <input id="input" name="emailUsuario" type="text" required autocomplete="off"/><br>

                        <input type="radio" name="tipo" value="edicao">Edição

                        <input type="radio" name="tipo" value="leitura">Leitura

                    <input id="buttom" type="submit" value="Compartilhar">
                </p>
            </form>
                <!-- Máscara para cobrir a tela -->
            <div id="mask"></div>
        </div>

        <script src="@routes.Assets.at("javascripts/home.js")" type="text/javascript"></script>
    </body>
}