@(usuario: Usuario, diretorio: Diretorio)

@main("SIBox"){
    <head>
        <meta charset="UTF-8">

        <link href="@routes.Assets.at("stylesheets/pastas.css")" rel="stylesheet">
        <link href='@routes.Assets.at("stylesheets/fonte-login.css")' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/normalize-home.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/home.css")">
    </head>
    <body>

        <header>
            <script src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
            <script src="@routes.Assets.at("javascripts/home.js")"></script>

            <div class="actions">
                <a href="@routes.HomeController.chamarHome()"><i style="margin-right: 8px" class="material-icons">assignment_return</i></a>
                <a href="@routes.HomeController.deletaTudoParaSempre()"><i style="margin-right: 8px" class="material-icons">delete_forever</i></a>
                <i style="margin-right: 15px"></i>
                <a href="@routes.HomeController.logOut()"><i class="material-icons">power_settings_new</i></a>
            </div>
        </header>
    </body>

    <main id="main">

    @for(arquivo <- diretorio.getArquivos) {
        <div class="thumbnail">
            <i class="material-icons">description
            </i>
            <a href="@routes.HomeController.abreArquivo(arquivo.getNomeArquivo, diretorio.getCaminho)">@arquivo.getNomeArquivo</a>
        </div>
    }

    @for(subDiretorio <- diretorio.getSubDiretorios()) {
        <div class="thumbnail">
            <i class="material-icons">folder
                <a href="@routes.HomeController.abrePasta(diretorio.getCaminho)"></a>
                <h1>@subDiretorio.getNome</h1>
            </i>
        </div>
        }
    </main>

}