@(diretorio:Diretorio)

@main("Texto"){

    <i style="font-size: 60px" class="material-icons">face</i><h1>@diretorio.getNome</h1>

    <div id="texto_com_content">
    <center>
        <form method=post action="/">
            <div id="texto_html_form_top">
                Digite seu texto
            </div>



            <textarea name="html" cols="100" rows="20"></textarea>

            <input type="hidden" name="step" value="2">

            <div id="texto_html_form_buttons">
                <input type="reset" value="Reset">&nbsp;&nbsp;
                <input type="submit" name="step" value="Enviar"></form>
</div>

    <div>
        <h2><a href="@routes.HomeController.index()">Voltar</a></h2>
    </div>



</div>
}