<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="texto_com_content">
    <center>
        <form method=post action="/">
            <div id="texto_html_form_top">
                Digite seu texto
            </div>



            <textarea name="html" cols="100" rows="20"></textarea>
            <input type="hidden" name="step" value="2">

            <div id="texto_html_form_buttons">
                <input type="reset" value="Reset">&nbsp;&nbsp;
                <input type="submit" name="step" value="Clear"></form>
</div>




</div>


</body>
</html>